/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #67e1ac;
  --ifm-color-primary-dark: rgb(67, 230, 140);
  --ifm-color-primary-darker: rgb(64, 212, 130);
  --ifm-color-primary-darkest: rgb(53, 177, 108);
  --ifm-color-primary-light: rgb(103, 225, 172);
  --ifm-color-primary-lighter: rgb(163, 242, 208);
  --ifm-color-primary-lightest: rgb(182, 242, 216);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
